{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'ZesharCRMCallsBundle:CRUD:base_list_field.html.twig' %}
{#{{ app.request.attributes.get('_route') }}#}
{% if app.request.attributes.get('_route') != 'admin_zesharcrm_calls_callreporting_listShow' %}
    {% block field %}
        {{ app.request.attributes.get('_route') }}
        <div class="btn-group">
            {% for actions in field_description.options.actions %}
                {% include actions.template %}
            {% endfor %}
        </div>
    {% endblock %}
{% endif %}