{% if value is not empty %}
    <td{% block sonata_list_field_attributes %} class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }} sonata-list-field-{{ field_description.name }}" objectId="{{ admin.id(object) }}"{% endblock %}>
        {{ value }}%
    </td>
{% else %}
    <td></td>
{% endif %}