{% if  1 == object.getStatus() %}
    <a class="btn btn-sm btn-default" title="Convert a Opportunity to Quote" href="{{ admin.generateObjectUrl('closeOpportunity', object) }}">Create quote</a>
{% endif %}