{% if 1 == object.getStatus() %}
    <a class="btn btn-sm btn-default" title="Close Quote as success" href="{{ admin.generateObjectUrl('cancelOpportunity', object) }}">UnSold Opportunity</a>
{% endif %}