{% extends 'ZesharCRMCoreBundle::sonata_layout.html.twig' %}

{% block sonata_breadcrumb %}
    <ol class="nav navbar-top-links breadcrumb">
        <li><a href="{{ url('sonata_admin_dashboard') }}">Dashboard</a></li>
        <li class="active">Audit Report</li>
    </ol>
{% endblock sonata_breadcrumb %}

{% block content %}

    <label class="report-title">Sales Performance</label>

    <div class="filter-wrap clearfix">
        <div class="left-column">
            <div class="">
                <div class="pull-right filter-controls">
                    <form method="get" class="form-inline report-filter-form" action="{{ url(app.request.attributes.get('_route')) }}">
                        <div class="form-group">
                            <input type="text" name="date-range-from" class="form-control datepicker" id="date-range-from" autocomplete="off" placeholder="From" value="{{ rangeFrom }}">
                        </div>
                        <div class="form-group">
                            <input type="text" name="date-range-to" class="form-control datepicker" id="date-range-to" autocomplete="off" placeholder="To" value="{{ rangeTo }}">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-green btn-list-search">Search</button>
                            <input type="button" class="btn btn-white btn-list-reset" value="Reset Filters">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="report-table-wrap table-wrap ui-sortable">
        <div class="box box-primary">
            <table class="report-table table-sonata-list table-striped table table-bordered">
                <thead>
                    <tr>
                        <th rowspan="2">User</th>
                        <th rowspan="2">Total Leads</th>
                        <th rowspan="2">Opportunities</th>
                        <th rowspan="2">Pending Opportunities</th>
                        <th rowspan="2">Lost Opportunities</th>
                        <th colspan="4">Lead By Status</th>
                        <th colspan="3">Leads – by source</th>
                        <th rowspan="2">Quoted Leads</th>
                        <th rowspan="2">Sales</th>
                    </tr>
                    <tr>
                        <th>User</th>
                        <th>User</th>
                        <th>User</th>
                        <th>User</th>
                        <th>Warm</th>
                        <th>Hot</th>
                        <th>Cold</th>

                    </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}