{#{% if 1 == object.getStatus() %}#}
    <a class="btn btn-sm btn-default delete_link" title="Delete Activity" href="{{ admin.generateObjectUrl('closeActivity', object) }}"><i class="glyphicon glyphicon-remove"></i> Delete</a>
</div>
{#{% endif %}#}