<div class="btn-group">
    <a href="{{ path('admin_activity_show', {'id': object.id}) }}" class="btn btn-sm btn-default view_link" title="Show">
        <i class="glyphicon glyphicon-zoom-in"></i>
        Show
    </a>