<div class="custom-block calendar-block">
    <div class="custom-head clearfix">
        <div class="custom-menu">
            <button class="up-custom close"></button>
        </div>
        <h3>Events</h3>
    </div>
    <div class="clearfix" style="display: none;">
        <div id="lead_event_list" {#class="display-block-persistent"#} data-controller="leads_display_list" data-action="leadEvent">
            <div class="form-column">
                <div class="form-group">
                    {% include('ZesharCRMCoreBundle:FormItems:existingLeadEvents.html.twig') %}
                </div>
            </div>
        </div>
    </div>
</div>