

    <div class="custom-block table-block entity-details">
        <div class="modal fade" id="contactCardList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Contact Card List</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-head clearfix">
            <div class="custom-menu">
                    <a class="inline-edit-details" href="#"><button style="margin-top:0" class="edit-custom entity-details-edit">Edit</button></a>
                    <a class="inline-edit-details" href="#"><button style="width: 74px; margin-top:0" class="edit-custom entity-details-edit-cancel">Cancel</button></a>
                    <a class="inline-edit-details-save" href="#"><button style="color: green; width: 63px; margin-top:0" class="edit-custom entity-details-save">Save</button></a>


                <div class="btn-group">
                    <button style="width: 130px;" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Select Contact
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu custom-dropdown-menu">
                        <a href="#"><button style="width: 126px;" class="edit-custom wide-edit-custom inline-edit-copy-from-lead">Copy from lead</button></a>
                        <a href="#"><button style="width: 130px;" class="edit-custom wide-edit-custom entity-details-choose-contact">Choose Contact</button></a>
                    </ul>
                </div>
            </div>

            <ul class="nav nav-pills block-tabs">
                <li class="active"><a href="#lead-tab" role="tab" data-toggle="tab">Lead</a></li>
                <li><a  href="#opportunity-tab" role="tab" data-toggle="tab">Contact Person</a></li>
            </ul>

        </div>
        <div class="custom-content tab-content form-block">

            <div class="tab-pane active pane-lead-details" id="lead-tab">
                {% if object.getContactCard() %}
                    {% set contactCard = object.getContactCard() %}
                    {{ include('ZesharCRMCoreBundle:CRUD:DisplayPartial/lead_opportunity_show_entity_details_table.html.twig') }}
                {% endif %}
                {{ render(controller('ZesharCRMCoreBundle:FormItems:entityDetails', {
                'subject': object,
                'type': 'lead'

                })) }}
            </div>
            <div class="tab-pane pane-opportunity-details" id="opportunity-tab">
                {% if object.getContactCardOpportunity() %}
                    {% set contactCard = object.getContactCardOpportunity() %}
                    {{ include('ZesharCRMCoreBundle:CRUD:DisplayPartial/lead_opportunity_show_entity_details_table.html.twig') }}
                {% endif %}
                {{ render(controller('ZesharCRMCoreBundle:FormItems:entityDetails', {
                'subject': object,
                'type': 'opportunity'

                })) }}
            </div>

        </div>


    </div>
