<div class="popup-window-sold custom-block" title="Sold">
    <div class="form-group">
        <label for="compaign">Ref Number</label>
        <input type="text" id="policy_number" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="compaign">Effective DT</label>
        <input type="text" id="effective_dt" class="form-control datepicker"/>
    </div>
    <div class="form-group">
        <label for="compaign">Line Code</label>
        <input type="text" id="line_code" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="compaign">LSP Code</label>
        <input type="text" id="lsp_code" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="compaign">Renewal Count</label>
        <input type="text" id="renewal_count" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="compaign">Amount</label>
        <input type="text" id="premium" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="compaign">Quantity</label>
        <input type="text" id="vehicle_count" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="compaign">Product</label>
        <input type="text" id="homeowners_count" class="form-control"/>
    </div>
    <input type="hidden" name="lead" value="{{ object.getId() }}" />
</div>