<a class="drop-link acc-menu" href="#"><img src="{{ asset('pict/menu-acc.png') }}" alt=""></a>
<div class="drop-menu">
    <ul>
        <li><a class="disable" href="javascript:void(0);">{{ username }}</a></li>
        <li><a href="{{ app.request.baseUrl }}/admin/logout">Logout</a></li>
    </ul>
</div>
