{% if 1 == object.getStatus() %}
    <a class="btn btn-sm btn-default" title="Close Lead as success and create an opportunity" href="{{ admin.generateObjectUrl('close', object) }}">Sold</a>
{% endif %}